.Loading {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-family: 'Roboto', sans-serif;
}

.LegTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.Table {
  margin-left: 10%;
  margin-right: 10%;
}


